@import "~bootstrap/scss/bootstrap";
.beta {
  background-color: $purple-700;
}
textarea {
  resize: none;
}
textarea:focus {
  border-color: #007bff; /* темно-синий цвет обводки */
  box-shadow: none; /* удалить тень */
}
.ih-100 {
  height: 100%;
}
.ih-70 {
  height: 75%;
}
.ih-30 {
  height: 24.04%;
}
a:visited {
  color: purple;
}